:root {
  --h-back: rgb(245, 245, 245);
  --h-front: rgb(0, 0, 0);
  --h-highlighted: rgb(0, 217, 255);
  --h-primary-back: rgb(177, 255, 177);
  --h-primary-front: rgb(0, 8, 0);
  // --h-secondary-back: lightblue;
  // --h-secondary-front: var(--h-front);
  // --h-tertiary-back: rgb(238, 144, 144);
  // --h-tertiary-front: var(--h-front);
  // --h-quaternary-back: var(--h-front);
  // --h-quaternary-front: var(--h-front);
  --h-success-back: rgb(0, 191, 255);
  --h-success-front: rgb(0, 29, 39);
  --h-info-back: rgb(143, 255, 115);
  --h-info-front: rgb(7, 31, 1) k;
  --h-alert-back: rgb(240, 255, 102);
  --h-alert-front: rgb(37, 41, 0);
  --h-error-back: rgb(255, 166, 166);
  --h-error-front: rgb(59, 0, 0);
  --h-spacing-small: 0.5rem;
  --h-spacing-normal: 1rem;
  --h-spacing-large: 1.5rem;
  --h-form-item-small: 2rem;
  --h-form-item-normal: 3rem;
  --h-form-item-large: 4rem;
}
